{
	email {$SSL_CONTACT_EMAIL}
}

{$HOSTNAME} {
	request_body {
		max_size {$MAX_PAYLOAD_UPLOAD_SIZE_MB}MB
	}

	@private path /admin /admin/* /api /api/* /screenshots /screenshots/*
	handle @private {
		respond 404
	}

	handle {
		reverse_proxy xsshunterexpress:8080
	}
}
